---
import BuyerConnection from "../../components/exhibitor/BuyerConnection.astro";
import StandPrice from "../../components/exhibitor/StandPrice.astro";
import ContactTeam from "../../components/home/ContactTeam.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Expositores | Smart Technology Expo" description="Página para expositores Smart Technology Expo">
   <section class="container mx-auto pt-12">
    <BuyerConnection locale='en'/>
    <StandPrice locale='en'/>
    <ContactTeam locale='en'/>
  </section>
</Layout>