---
import RegistrationThanks from "../../components/register/RegistrationThanks.astro";
import Layout from "../../layouts/Layout.astro";

---
<Layout title="STE | Thank you for registering" description="Thank you page for Smart Technology Expo registration">
  <div>
    <RegistrationThanks locale='en'/>
  </div>
</Layout>