---
import Layout from "../../layouts/Layout.astro";
---
<Layout 
    title="The Itzamná Award 2026"
    description="The Itzamná Award recognizes innovative projects, initiatives, and solutions that drive technological evolution, automation, and industrial transformation in Mexico and Latin America. Integrated into Smart Technology Expo (STE), it highlights proposals with impact in advanced industry, artificial intelligence, digitalization, and technological sustainability."
>
    <section class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">The Itzamná Award 2026</h1> 
    </section>
</Layout>