---
import { ContactForm } from "./ContactForm";
import { useTranslations , getTranslation } from "../../utils/translations";
const { translations } = await useTranslations(Astro.props, Astro);
const tr = (key: string, fallback: string = '') =>
  getTranslation(translations, key, fallback);

---
<section class="my-12 p-6 rounded-lg bg-zinc-100">
  <h2 class="text-center text-4xl md:text-4xl font-black text-gray-900 mb-4" set:html={tr('expositorsSection.title_section')}></h2>
  <ContactForm client:visible />
</section>