---
import RegistrationThanks from "../components/register/RegistrationThanks.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Gracias por registrarte" description="Página de agradecimiento de registro de Smart Technology Expo">
  <div class="container">
    <RegistrationThanks />
  </div>
</Layout>