---
import Layout from "../layouts/Layout.astro";

---
<Layout
  title="Premio Itzamná 2026"
  description="El Premio Itzamná reconoce proyectos, iniciativas y soluciones innovadoras que impulsan la evolución tecnológica, la automatización y la transformación industrial en México y Latinoamérica. Integrado a Smart Technology Expo (STE), distingue propuestas con impacto en industria avanzada, inteligencia artificial, digitalización y sostenibilidad tecnológica."
>
    <section class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Premio Itzamná 2026</h1>
    </section>
</Layout>