---
import { useTranslations, getTranslation } from "../../utils/translations";
//Una sola línea para cargar traducciones!
const { locale, translations } = await useTranslations(Astro.props, Astro);

//Helper para traducciones más elegante
const tr = (key: string, fallback: string = "") =>
  getTranslation(translations, key, fallback);

import { mediaPlanito } from "../../logos.js";
---

<section class="mb-20 p-2">
  <div class="mx-auto">
    <h2
      class="w-fit mx-auto square_red font-extrabold text-3xl md:text-4xl uppercase py-5 px-10 text-red-600 text-center"
    >
      {tr("home.platinum_allies")}
    </h2>
    <div
      class="mx-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-8 max-w-xl"
    >
      {
        mediaPlanito.map((medio, index) => (
          <div class="flex justify-center items-center w-full h-24">
            <img
              src={medio.src}
              alt={medio.alt}
              style={`width: ${medio.width}px;`}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
