---
import { useTranslations, getTranslation } from '../../utils/translations'
// ✨ Una sola línea para cargar traducciones!
const { locale, translations } = await useTranslations(Astro.props, Astro)

// 🎯 Helper para traducciones más elegante
const tr = (key: string, fallback: string = '') =>
  getTranslation(translations, key, fallback)
---

<section
  class='bg-[url(/img/bg_smart_desc_2.png)] bg-no-repeat bg-center bg-cover py-16 px-4 text-center'
>
  <div class='container mx-auto px-4'>
    <img src='/img/smarttecexpo_logo.svg' class='w-64 md:w-72 mx-auto' />
    <p class='mt-10 text-2xl md:text-5xl text-white font-extrabold'>
      {tr('home.contact_nacional')}
    </p>
  </div>
  <div class='grid lg:grid-cols-2 gap-8 mt-10'>
    <div
      class='mt-10 w-full mx-auto bg-white rounded-e-3xl rounded-tl-4xl shadow-2xl text-[#dc0c15] p-2'
    >
      <div class='grid md:flex items-center justify-center gap-5'>
        <img
          src='/img/team/roselina.jpg'
          alt='contact icon'
          class='w-32 h-32 md:w-48 md:h-48 object-cover object-top rounded-full relative -mt-10 border[#dc0c15] border-2 mx-auto md:mx-0'
        />
        <div class='text-left'>
          <p class='font-extrabold uppercase text-2xl'>Roselina Vázquez</p>
          <p>Sales Manager</p>
          <div class='mt-3 flex gap-2'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z'
              ></path>
            </svg>
            <span>+ 52 (55) 7028 3335 Ext. 811</span>
          </div>

          <a href='mailto:roselina.vazquez@igeco.mx' class='flex gap-2 mt-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75'
              ></path>
            </svg>
            <span>roselina.vazquez@igeco.mx</span>
          </a>

          <a
            href='https://wa.me/524792031235?text=Hola%2C%20estoy%20interesado%20en%20participar%20en%20Smart%20Technology%20Expo%202026.'
            class='flex gap-2 mt-3'
          >
            <svg
              role='img'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <title>WhatsApp</title>
              <path
                d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'
              ></path>
            </svg>
            <span>+ 52 (479) 203 1235</span>
          </a>
        </div>
      </div>
    </div>
    <div
      class='mt-10 w-full mx-auto bg-white rounded-e-3xl rounded-tl-4xl shadow-2xl text-[#dc0c15] p-2'
    >
      <div class='grid md:flex items-center justify-center gap-5'>
        <img
          src='/img/team/sofia.jpg'
          alt='contact icon'
          class='w-32 h-32 md:w-48 md:h-48 object-cover object-top rounded-full relative -mt-10 border[#dc0c15] border-2 mx-auto md:mx-0'
        />
        <div class='text-left'>
          <p class='font-extrabold uppercase text-2xl'>Sofía Manríquez</p>
          <p>Sales Executive</p>

          <div class='mt-3 flex gap-2'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z'
              ></path>
            </svg>
            <span>+ 52 (55) 7028 3335 Ext. 803</span>
          </div>

          <a href='mailto:sofia.manriquez@igeco.mx' class='flex gap-2 mt-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75'
              ></path>
            </svg>
            <span>sofia.manriquez@igeco.mx</span>
          </a>

          <a
            href='https://wa.me/524778489476?text=Hola%2C%20estoy%20interesado%20en%20participar%20en%20Smart%20Technology%20Expo%202026.'
            class='mt-2 flex gap-2'
          >
            <svg
              role='img'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <title>WhatsApp</title>
              <path
                d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'
              ></path>
            </svg>
            <span>+ 52 (477) 848 9476</span>
          </a>
        </div>
      </div>
    </div>

    <div
      class='mt-10 w-full mx-auto bg-white rounded-e-3xl rounded-tl-4xl shadow-2xl text-[#dc0c15] p-2'
    >
      <div class='grid md:flex items-center justify-center gap-5'>
        <img
          src='/img/team/paulinap.jpg'
          alt='contact icon'
          class='w-32 h-32 md:w-48 md:h-48 object-cover object-top rounded-full relative -mt-10 border[#dc0c15] border-2 mx-auto md:mx-0'
        />
        <div class='text-left'>
          <p class='font-extrabold uppercase text-2xl'>PAULINA PADILLA</p>
          <p>Sales Manager</p>

          <a href='mailto:paulina.padilla@igeco.mx' class='flex gap-2 mt-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75'
              ></path>
            </svg>
            <span>paulina.padilla@igeco.mx</span>
          </a>

          <a
            href='https://wa.me/524731247076?text=Hola%2C%20estoy%20interesado%20en%20participar%20en%20Smart%20Technology%20Expo%202026.'
            class='mt-2 flex gap-2'
          >
            <svg
              role='img'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <title>WhatsApp</title>
              <path
                d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'
              ></path>
            </svg>
            <span>+ 52 (473) 124 7076</span>
          </a>
        </div>
      </div>
    </div>

    <div
      class='mt-10 w-full mx-auto bg-white rounded-e-3xl rounded-tl-4xl shadow-2xl text-[#dc0c15] p-2'
    >
      <div class='grid md:flex items-center justify-center gap-5'>
        <img
          src='/img/team/brandom.jpg'
          alt='contact icon'
          class='w-32 h-32 md:w-48 md:h-48 object-cover object-top rounded-full relative -mt-10 border[#dc0c15] border-2 mx-auto md:mx-0'
        />
        <div class='text-left'>
          <p class='font-extrabold uppercase text-2xl'>BRANDOM MAGAÑA</p>
          <p>Sales Executive</p>

          <a href='mailto:brandom.magana@igeco.mx' class='flex gap-2 mt-3'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75'
              ></path>
            </svg>
            <span>brandom.magana@igeco.mx</span>
          </a>

          <a
            href='https://wa.me/524778528320?text=Hola%2C%20estoy%20interesado%20en%20participar%20en%20Smart%20Technology%20Expo%202026.'
            class='mt-2 flex gap-2'
          >
            <svg
              role='img'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              class='size-6 bg-red-500 fill-white rounded-2xl p-1'
            >
              <title>WhatsApp</title>
              <path
                d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'
              ></path>
            </svg>
            <span>+52 477 852 8320</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <p class='mt-10 text-2xl md:text-5xl text-white font-extrabold'>
    {tr('home.contact_internacional')}
  </p>
  <div
    class='mt-10 w-fit mx-auto bg-white rounded-e-3xl rounded-tl-4xl shadow-2xl text-[#dc0c15] p-2'
  >
    <div class='grid md:flex items-center justify-center gap-5'>
      <img
        src='/img/team/simoneRobering.webp'
        alt='contact icon'
        class='w-32 h-32 md:w-48 md:h-48 object-cover object-top rounded-full relative -mt-10 border[#dc0c15] border-2 mx-auto md:mx-0'
      />
      <div class='text-left'>
        <p class='font-extrabold uppercase text-2xl'>Simone Robering</p>
        <p>Senior Project Manager</p>

        <a href='mailto:simone.robering@messe.de' class='flex gap-2 mt-3'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='size-6 bg-red-500 fill-white rounded-2xl p-1'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75'
            ></path>
          </svg>
          <span>simone.robering@messe.de</span>
        </a>

        <a
          href='https://wa.me/495118933128?text=Hola%2C%20estoy%20interesado%20en%20participar%20en%20Smart%20Technology%20Expo%202026.'
          class='flex gap-2 mt-3'
        >
          <svg
            role='img'
            viewBox='0 0 24 24'
            xmlns='http://www.w3.org/2000/svg'
            class='size-6 bg-red-500 fill-white rounded-2xl p-1'
          >
            <title>WhatsApp</title>
            <path
              d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z'
            ></path>
          </svg>
          <span>+49 511 89 33128</span>
        </a>
      </div>
    </div>
  </div>
</section>
