---
import AboutItzamna from "./AboutItzamna.astro";
import ContestAbout from "./ContestAbout.astro";
import Hero from "./Hero.astro";
---

<section>
  <Hero />
  <section class="bg-[url(/img/itzamna/itzamna_background.webp)]">
    <AboutItzamna />
    <ContestAbout />
  </section>
</section>
