---
import AboutItzamna from "./AboutItzamna.astro";
import Contact from "./Contact.astro";
import ContestAbout from "./ContestAbout.astro";
import Evaluation from "./Evaluation.astro";
import Hero from "./Hero.astro";
import HowToParticipate from "./HowToParticipate.astro";
import Objective from "./Objective.astro";
---

<section>
  <Hero />
  <section class="bg-[url(/img/itzamna/itzamna_background.webp)]">
    <AboutItzamna />
    <ContestAbout />
  </section>
    <Objective />
    <HowToParticipate />
    <Evaluation />
    <Contact />
</section>
